#menu-bar {
  width: 95%;
  margin: 10px 10px 10px 10px;
  padding: 6px 6px 6px 6px;
  height: 54px;
  line-height: 100%;
  background: #FFFFFF;
  border-bottom: 1px solid #27A8E8;
  position:relative;
  z-index:999;
}
#menu-bar li {
  margin: 6px 6px 6px 6px;
  padding: 6px 6px 6px 6px;
  float: right;
  position: relative;
  list-style: none;
}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 15px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
  margin: 0;
  margin-bottom: 6px;
}

#menu-bar .active a, #menu-bar li:hover > a {
  background: #FFFFFF;
  color: #27A8E8;
}
.sem {
    height: 200px;
}
